body {
  background-color: rgb(226, 202, 235);
  /* margin: 50px; */
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  border-top: 0px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 1rem;
}

a.nav-title,
a.nav-title:visited {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em;
  font-weight: 400;
  color: black;
  text-decoration: none;
  line-height: 2rem;
}

section#about{
  padding-bottom: 1rem;
}
#about > img.profile-thumbnail {
  float: right;
  margin-left: 20px;
  margin-right: 200px;
  margin-bottom: 10px;
  width: 200px;          /* Fixed width */
  height: 200px;         /* Fixed height */
  min-width: 150px;      /* Minimum width */
  min-height: 150px;     /* Minimum height */
  object-fit: cover;     /* This ensures the image covers the area without distortion */
  border-radius: 50%;    /* This makes the frame circular */
}
#about p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem;
}

#about a,
a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid;
  border-color: #ff8800;
}

#assignments h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.title {
  background-color: #fff;
  opacity: 70%;
  border-radius: 1em;
  top: 5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: .8em/.9em 'Open Sans', sans-serif;
  line-height: 2.5em;
  padding: 1em 2em 0em;
  position: absolute;
  max-width: 25%;
  margin: 0em 5em;
  z-index: 100;
}
.title h1{
  opacity: 100%;
}
.title p {
  line-height: 1.5em;
  opacity: 100%;
}
.title div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  width: 10px;
}
.title hr {
  border-top: .2em dashed #404040;
  border-bottom: 0em;
  margin-top: .75em;
  margin-bottom: .75em;
}

.legend {
  font: 1em/1.5em 'Open Sans', sans-serif;
  padding: 1em 1em 2em 1em;
  position: relative;
  right: 10px;
  z-index: 100;
  opacity: 100%;
}
.legend h4 {
  margin: 0 0 10px;
  opacity: 100%
}
.legend div span {
  border-radius: 0%;
  display: inline-block;
  height: 10px;
  margin-top: 0px;
  margin-right: 20px;
  width: 10px;
}

p.assignment-title {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}


p.assignment-title a,
a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid;
  border-color: #ff8800;
}

p.assignment-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5rem;
  margin-top: 0;
}
 
img.assignment-thumbnail {
  margin-bottom: 0.5rem;
  max-width: 10%;
}

footer {
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #aaa;
}

p.footer-text {
  font-family: 'Source Code Pro', monospace;
  font-size: .75rem;
  font-weight: 300;
  text-align: center;
}

footer a,
a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid;
  border-color: #ff8800;
}

#map {
  width: 100%;
  height: 100%;
  /* margin: 0 0 !important; */
}
  #map{
    width: 100%;
    height: 800px;
    /* margin: 5em auto; */
  }
  #menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  right: 3em;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}
#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}
#menu a:last-child {
  border: none;
}
#menu a:hover {
  background-color: #f8f8f8;
  color: #000000;
}
#menu a.active {
  background-color: #404040;
  color: #ffffff;
}
#menu a.active:hover {
  background: #000000;
}
